/* Global style */
html { 
    background: url(../images/972057.jpg); no-repeat left fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
body {
    font-family: 'Mulish', sans-serif;
}

h1 {
    text-align: center;
    color: #2B3784;
    font-weight: bold;
    font-size: xx-large;
}

h2 {
    text-align: center;
    color: #fff;
}

#web {
    height: 300px;
    margin: auto;
    width: 30%;
    padding: 10px;
    text-align: center;
}
ul {
    list-style: none;
    text-align: center;
    margin-top: auto;
}

li {
    display: inline-block;
    padding: 20px;
    text-align: center;
}

#spiderman-point {
    height: 100px;
    width: 50%;
}