/* Global style */
@import url(https://fonts.googleapis.com/css2?family=Bangers&display=swap);
html { 
    background: url(../images/spiderman\ texture\ bg.jpg) no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
  }
    body {
        font-family: 'Bangers', cursive;
        letter-spacing: 2px;
        overflow: hidden;
        position: relative;
}

h2 {
    text-align: center;
    color: #fff;
    font-size: 200%;
}
.letter-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    object-fit: contain;
}
#letter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    object-fit: contain;
  }
/*sound icons*/
ul {
    list-style: none;
    text-align: center;
}

li {
    display: inline-block;
    padding: 10px;
    text-align: center;
    font-size: 300%
}
.zoom {
    transition: transform .2s; /* Animation */
}
.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

/* text alignment*/
* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 5px;
  }
 /* button styling*/
 #btn {
   padding: 10%;
   margin-right: 5px;
 }
.character-names {
  font-size: 200%;
}
img {
  height: 7em;
  margin-top: -40px;
}


 /* MOBILE */
 @media only screen and (max-width: 400px) {
   h2 {
  font-size: 100%;
 }
 li {
  display: inline-block;
  padding: 8px;
  text-align: center;
  font-size: 200%;
}
#button {
  margin: 0;
  
}
#btn {
  font-size: 40%;
  padding: 0px;
  margin-right: -7px;
}
.character-names {
  font-size: 100%;
}
img {
  height: 5em;
}